
h1{
  font-family: Georgia, serif;
}
.ant-form-item-has-success{
  align-items: center;
  padding-left: 0;
  width: 100%;
} 
form#normal_login{
  width: 1200px;
  padding-left: 700px;
  align-items: center;
}