*{
	margin: 0;
	padding: 0;
}
.container{
	width: 2000px;
	height: 900px;
}
.nav_title_wrap{
	width: 200px;
	height: 100px;
}
.nav_title{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	color: rgb(5, 5, 5);
	background-color: #030303;
	display: inline-block;
}
.active{
	color: rgb(9, 172, 248);
}
.nav_item_wrap{
	width: 2000px;
	height: 900px;
}
.nav_item{
	width: 2000px;
	height: 900px;
	color: rgb(3, 3, 3);
	display: none;
}
.show{
	display: block;
}