/* ------------------
 styling for the tables 
   ------------------   */
   body
   {
       line-height: 2.0em;
   }

   table
   {
       margin:auto;
   }

   .ant-page-header-heading{
       width: 90%;
   }

   .ant-form{
       width: 100%;
   }

   .ant-statistic{
       text-align: right;
   }

